[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
mmpy-bot = "*"
redis = "*"
environs = "*"
python-redis-rate-limit = "*"
aiohttp = "*"
tiktoken = "*"
asyncio = "*"
uuid = "*"
requests = "*"
pyttsx3 = "*"
wheel = "*"
validators = "*"
dnspython = "*"
aiodocker = "*"
bs4 = "*"
beautifulsoup4 = "*"
pedantic = "*"
jsonpickle = "*"
hibpwned = "*"
anthropic = "*"
ntplib = "*"
coverage = "*"
jira = "*"
mattermostautodriver = "*"
httpx = "=0.27.2"
duckduckgo-search = {extras = ["lxml"], version = "*"}
brotli = "*"
python-magic = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"
ipython = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.10"
