[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
mmpy-bot = "*"
redis = "*"
environs = "*"
python-redis-rate-limit = "*"
aiohttp = "*"
tiktoken = "*"
asyncio = "*"
uuid = "*"
requests = "*"
pyttsx3 = "*"
wheel = "*"
validators = "*"
dnspython = "*"
aiodocker = "*"
bs4 = "*"
beautifulsoup4 = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"
ipython = "*"

[requires]
python_version = "3.10"
